

{% include "baseHeader.html" %}


<article>
	<div class="heading">
		<h2>Bienvenido a la pàgina de ReceTicas.</h2>
			{% if request.user.is_authenticated %}
			<div class="info">Usuario que esta en la pàgina: {% if request.user.first_name or request.user.last_name %}
				{{ request.user.first_name }} {{ request.user.last_name }}
			    {% else %}
				{{ request.user.username }}
			    {% endif %}.</div>
			{% endif %}
	</div>
</article>
<article>
	<div class="heading">
		<p><h2>Pinchos de vegetales asados.</h2></p>
	</div>
	<div class="content">
		<img src="/static/images/port1.jpg"/>
		<p>Las brochetas son una manera muy práctica y sencilla de cocinar las verduras. Al marinarlas añadimos un toque original a su sabor. Anímate a disfrutarlas solas o como acompañamiento de todo tipo de carnes a la parrilla.</p>
		<p>Cortamos los pimientos por la mitad, los despepitamos y los cortamos en trozos de unos 2.5 cm. Descartamos los extremos del zucchini, lo cortamos por la mitad, a lo largo y luego en trozos de unos 2 cm. Colocamos los pimientos y el zucchini en un tazón y reservamos.
Cortamos los extremos de las berenjenas y las cortamos a lo largo en cuartos. Pelamos las cebollas y las cortamos en 8 gajos iguales. Agregamos al tazón donde se encuentran los pimientos y el zucchini.
En un tazón mezclamos el jugo de limón con el aceite, el ajo, el romero, sal y pimienta. Vertimos sobres las verduras y mezclamos bien.
Calentamos un grill o parrilla a temperatura media. Ensartamos las verduras en 8 palos para brochetas. Asamos a la parrilla durante unos 10 – 12 minutos, dándoles vuelta varias veces, hasta que las verduras estén blandas y doradas.
Dejamos escurrir las brochetas sobre papel absorvente y servimos.</p>
	</div>
</article>

<article>
	<div class="heading">
		<p><h2>Actividad en las redes sociales.</h2></p>
	</div>
	<div class="content">
		<div class="fb-activity" data-app-id="527581757365186" data-site="https://www.facebook.com/ReceTicas" data-action="likes, recommends" data-colorscheme="light" data-header="true"></div>
	</div>
</article>





{% include "baseFooter.html" %}
								
