{% include "baseHeader.html" %}

<article>

<div class="heading">
	<p><h2>Recetarios</h2></p>
</div>
<div class="content">
	<a href="http://www.receticas.biz/recetario/add/"> Crear Nuevo  </a>
	
</div>
<div class="content">
	{% for recetario in object_list %}
	    <li>

	<a href="http://www.receticas.biz/recetasRecetarioUsuario/{{  recetario.idrecetario }}/"> {{ recetario.nombrer }} - {{ recetario.idrecetario }} </a> 
	| <a href="http://www.receticas.biz/recetario/{{  recetario.idrecetario }}/"> Editar </a>  
	| <a href="http://www.receticas.biz/recetario/{{  recetario.idrecetario }}/delete/"> Borrar </a>
	| <a href="http://www.receticas.biz/recet/add/{{  recetario.idrecetario }}/"> Crear Nueva  </a>

		</li>


	{% empty %}
	    <li>No Recepies yet.</li>
	{% endfor %}
	
</div>

</article>

{% include "baseFooter.html" %}
