{% include "baseHeader.html" %}

<article>
	<div class="heading">
		<p><h2>{{ receta.nombre }}</h2></p>
	</div>
	<div class="content">
		<p>Nombre: {{ receta.nombre }}</p>
		<p>Descripcion: {{ receta.descripcion }}</p>
	</div>
	<div class="heading">
		<p><h2>Ingredientes</h2></p>
	</div>
        <p>Gramos para solidos, ml para los liquidos</p>
	<div class="content">
		{% for ingrediente in ingredientes %}
			<p>{{ ingrediente.idingrediente.articulo }} de {{ ingrediente.idingrediente.peso }} a {{ ingrediente.idingrediente.precio }}</p>
		{% empty %}
			<p>No tiene ingredientes.</p>
		{% endfor %}
	</div>
	<div class="heading">
		<p><h2>Pasos</h2></p>
	</div>
	<div class="content">
		{% for paso in pasos %}
			<p>{{ paso.pasonumero }}- {{ paso.contenido }} </p> 
		{% empty %}
			<p>No tiene pasos.</p>
		{% endfor %}
	</div>
	<div class="content">
		<div class="fb-like" data-href="http://www.receticas.biz/recetas/{{ object.idreceta }}/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>
	<div class="content">
		<div class="fb-comments" data-href="http://www.receticas.biz/recetas/{{ object.idreceta }}/" data-numposts="5" data-colorscheme="light"></div>

	</div>
</article>{{can_show_distribute}}

{% include "baseFooter.html" %}
